html,body {
    font-size: calc(100vw/10.8);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
  }
   h1{
   	color: #fff;
   	text-transform:capitalize;
   	font-size: 0.5rem;
   }
		
   
  .header{
		background-color: blue;
			width: 100%;
			height: 20%ï¼›
		}
   .time{
   	font-size: 0.3rem;
   	text-align: right;
   }

   .name{
   	font-size: .4rem;
   	vertical-align: -0.05rem;
   }

	.board {
		margin-top:1em;
		margin-bottom:1em;
	 
	}
	.form-control{
		margin-left: -0.3rem;
		font-size: .3rem;
	}
	input {
		padding: .5em;
		margin: .5em;
	}
	select {
		padding: .5em;
		margin: .5em;
	}
	
	#signatureparent {
		color:darkblue;
		background-color:darkgrey;
		/*max-width:600px;*/
		padding:20px;
	}
	
	/*This is the div within which the signature canvas is fitted*/
	#signature {
		border: 2px dotted black;
		background-color:lightgrey;
	}

	/* Drawing the 'gripper' for touch-enabled devices */ 
	html.touch #content {
		float:left;
		width:92%;
	}
	html.touch #scrollgrabber {
		float:right;
		width:4%;
		margin-right:2%;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAAAAACh79lDAAAAAXNSR0IArs4c6QAAABJJREFUCB1jmMmQxjCT4T/DfwAPLgOXlrt3IwAAAABJRU5ErkJggg==)
	}
	html.borderradius #scrollgrabber {
		border-radius: 1em;
	}
	 